body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#020d1f;
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.login-container{

text-align:center;

}

.title{

font-family: 'Orbitron', sans-serif;
font-size:40px;
letter-spacing:8px;
font-weight:700;

}

.c1{
color:#00eaff;
text-shadow:0 0 10px #00eaff;
}

.c2{
color:#ffd400;
text-shadow:0 0 10px #ffd400;
}

.subtitle{

color:#ffd400;
letter-spacing:4px;
margin-bottom:40px;

}

.login-box{

width:350px;
padding:30px;

border:1px solid #1b3b63;
border-radius:10px;

background:#061833;

}

.login-box h2{

margin-bottom:20px;

}

input{

width:100%;
padding:12px;

margin-top:12px;

background:#020d1f;
border:1px solid #1b3b63;

color:white;

}

button{

width:100%;
padding:14px;

margin-top:20px;

background:#00eaff;

border:none;
font-weight:bold;

cursor:pointer;

}

button:hover{

background:#00c9d8;

}

.signup{

margin-top:15px;
font-size:14px;

}

.signup a{

color:#ffd400;
text-decoration:none;

}